{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

    <link rel="stylesheet" href="{% static 'frontend/assets/css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'frontend/assets/css/slick.css' %}">
    <link rel="stylesheet" href="{% static 'frontend/assets/css/LineIcons.css' %}">
    <link rel="stylesheet" href="{% static 'frontend/assets/css/default.css' %}">
    <link rel="stylesheet" href="{% static 'frontend/assets/css/style.css' %}">
    {% block css %}{% endblock %}
  </head>
  <body>
    <section class="navbar-area sticky">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <nav class="navbar navbar-expand-lg sticky">
              <a class="navbar-brand" href="#">
                <img src="{% static 'frontend/assets/images/logo-2.svg' %}" alt="Logo">
              </a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTwo" aria-controls="navbarTwo" aria-expanded="false" aria-label="Toggle navigation">
                <span class="toggler-icon"></span>
                <span class="toggler-icon"></span>
                <span class="toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse sub-menu-bar" id="navbarTwo">
                <ul class="navbar-nav m-auto">
                  <li class="nav-item" id="home"><a class="page-scroll" href="/">Home</a></li>
                  <li class="nav-item" id="adminLogin"><a class="page-scroll" href="/admin_login">Admin Login</a></li>
                  <li class="nav-item" id="mahasiswaRegister"><a class="page-scroll" href="/registrasi_mahasiswa/">Daftar Sebagai Mahasiswa</a></li>
                  <li class="nav-item" id="mahasiswaLogin"><a class="page-scroll" href="/mahasiswa_login/">Mahasiswa Login</a></li>
                </ul>
              </div>
            </nav>
          </div>
        </div>
      </div>
    </section>

    <div class="preloader">
      <div class="loader">
        <div class="ytp-spinner">
          <div class="ytp-spinner-container">
            <div class="ytp-spinner-rotator">
              <div class="ytp-spinner-left">
                <div class="ytp-spinner-circle"></div>
              </div>
              <div class="ytp-spinner-right">
                <div class="ytp-spinner-circle"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    {% block body %}{% endblock %}

    <a href="#" class="back-to-top"><i class="lni lni-chevron-up"></i></a>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    <script src="{% static 'frontend/assets/js/vendor/jquery-1.12.4.min.js' %}"></script>
    <script src="{% static 'frontend/assets/js/vendor/modernizr-3.7.1.min.js' %}"></script>
    <script src="{% static 'frontend/assets/js/popper.min.js' %}"></script>
    <script src="{% static 'frontend/assets/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'frontend/assets/js/slick.min.js' %}"></script>
    <script src="{% static 'frontend/assets/js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'frontend/assets/js/ajax-contact.js' %}"></script>
    <script src="{% static 'frontend/assets/js/imagesloaded.pkgd.min.js' %}"></script>
    <script src="{% static 'frontend/assets/js/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'frontend/assets/js/jquery.easing.min.js' %}"></script>
    <script src="{% static 'frontend/assets/js/scrolling-nav.js' %}"></script>
    <script src="{% static 'frontend/assets/js/main.js' %}"></script>
    {% block js %}{% endblock %}
  </body>
</html>
