{% extends 'admin_navbar.html' %}
{% load static %}
{% block title %} Perpustakaan {% endblock %}
{% block css %}
{% endblock %}
{% block body %}
<div class="container mt-4">
    <h1 class="text-center"><u>List Semua Buku</u></h1>
    <table class="table table-hover" id="example">
        <thead>
            <tr class="text-center">
                <th>Sr.No</th>
                <th>Nama Buku</th>
                <th>Author</th>
                <th>Nomor Buku</th>
                <th>Kategori</th>
                <th>Hapus</th>
            </tr>
        </thead>
        <tbody>
            {% for buku in list_buku %}
            <tr class="text-center">
                <td>{{forloop.counter}}.</td>
                <td>{{buku.judul}}</td>
                <td>{{buku.author}}</td>
                <td>{{buku.nomor_buku}}</td>
                <td>{{buku.kategori}}</td>
                <td><a href="/delete_buku/{{buku.id}}/" class="btn btn-danger" onclick="return confirm('Apakah Anda yakin ingin menghapus buku ini?')">Delete</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
{% endblock %}
