{% extends 'mahasiswa_navbar.html' %}

{% block title %} Profil {% endblock %}

{% block css %}
{% endblock %}

{% block body %}
<!--====== ABOUT PART START ======-->

<section id="about" class="about-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <div class="faq-content mt-45">
                    <div class="about-title">
                        <h6 class="sub-title">{{ request.user }}</h6>
                        <h4 class="title">Profil</h4>
                    </div>
                    <div class="about-accordion">
                        <div class="row">
                            <div class="col-md-6">
                                <label>ID:</label>
                            </div>
                            <div class="col-md-6">
                                <p>{{ user.id }}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Username:</label>
                            </div>
                            <div class="col-md-6">
                                <p>{{ user }}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Nama:</label>
                            </div>
                            <div class="col-md-6">
                                <p>{{ user.get_full_name }}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Email:</label>
                            </div>
                            <div class="col-md-6">
                                <p>{{ user.email }}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>NIM:</label>
                            </div>
                            <div class="col-md-6">
                                <p>{{ user.mahasiswa.nim }}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Prodi:</label>
                            </div>
                            <div class="col-md-6">
                                <p>{{ user.mahasiswa.jurusan }}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Kelas:</label>
                            </div>
                            <div class="col-md-6">
                                <p>{{ user.mahasiswa.kelas }}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Nomor Antri:</label>
                            </div>
                            <div class="col-md-6">
                                <p>{{ user.mahasiswa.no_antri }}</p>
                            </div>
                        </div>
                        <a href="/edit_profil/" style="width: 9rem;" class="btn btn-outline-primary mt-3">Edit Profile</a>
                    </div> <!-- about-accordion -->
                </div> <!-- faq content -->
            </div>
            <div class="col-lg-5">
                <div class="about-image mt-50">
                    <img src="{{ user.mahasiswa.image.url }}" alt="Profil Image" width="310px" height="500">
                </div> <!-- about image -->
            </div>
        </div> <!-- row -->
    </div> <!-- container -->
</section>

<!--====== ABOUT PART ENDS ======-->
{% endblock %}
{% block js %}
<script type="text/javascript">
    $("#profil").addClass("active");
</script>
{% endblock %}