{% extends 'base.html' %}
{% load static %}
{% block title %} Pendaftaran Mahasiswa {% endblock %}
{% block css %}
{% endblock %}
{% block body %}
<!--====== CONTACT PART START ======-->

<section id="contact" class="contact-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="contact-wrapper form-style-two pt-115">
                    <h4 class="contact-title pb-10"><i class="lni lni-share"></i> Registrasi <span>Mahasiswa.</span></h4>
                    
                    <form id="" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-input mt-25">
                                    <label>Username</label>
                                    <div class="input-items default">
                                        <input name="username" type="text" placeholder="Username" required>
                                    </div>
                                </div> <!-- form input -->
                            </div>
                            <div class="col-md-6">
                                <div class="form-input mt-25">
                                    <label>Nama Depan</label>
                                    <div class="input-items default">
                                        <input name="first_name" type="text" placeholder="Nama Depan" required>
                                    </div>
                                </div> <!-- form input -->
                            </div>
                            <div class="col-md-6">
                                <div class="form-input mt-25">
                                    <label>Nama Belakang</label>
                                    <div class="input-items default">
                                        <input type="text" name="last_name" placeholder="Nama Belakang">
                                    </div>
                                </div> <!-- form input -->
                            </div>
                            <div class="col-md-6">
                                <div class="form-input mt-25">
                                    <label>Email</label>
                                    <div class="input-items default">
                                        <input name="email" type="email" placeholder="Email" required>
                                    </div>
                                </div> <!-- form input -->
                            </div>
                            <div class="col-md-6">
                                <div class="form-input mt-25">
                                    <label>NIM</label>
                                    <div class="input-items default">
                                        <input type="text" name="nim" placeholder="NIM" required>
                                    </div>
                                </div> <!-- form input -->
                            </div>
                            <div class="col-md-6">
                                <div class="form-input mt-25">
                                    <label>Program Studi</label>
                                    <div class="input-items default">
                                        <input name="jurusan" type="text" placeholder="Nama Prodi" required>
                                    </div>
                                </div> <!-- form input -->
                            </div>
                            <div class="col-md-6">
                                <div class="form-input mt-25">
                                    <label>Kelas</label>
                                    <div class="input-items default">
                                        <input type="text" name="kelas" placeholder="Kelas">
                                    </div>
                                </div> <!-- form input -->
                            </div>
                            <div class="col-md-6">
                                <div class="form-input mt-25">
                                    <label>Nomor Antri</label>
                                    <div class="input-items default">
                                        <input name="no_antri" type="text" placeholder="Nomor Antri" required>
                                    </div>
                                </div> <!-- form input -->
                            </div>
                            <div class="col-md-6">
                                <div class="form-input mt-25">
                                    <label>Foto Mahasiswa</label>
                                    <div class="input-items default">
                                        <input type="file" name="image" class="form-control" placeholder="Kelas" required>
                                    </div>
                                </div> <!-- form input -->
                            </div>
                            <div class="col-md-6">
                                <div class="form-input mt-25">
                                    <label>Password</label>
                                    <div class="input-items default">
                                        <input type="text" name="password" placeholder="Password" required>
                                    </div>
                                </div> <!-- form input -->
                            </div>
                            <div class="col-md-6">
                                <div class="form-input mt-25">
                                    <label>Konfirmasi Password</label>
                                    <div class="input-items default">
                                        <input type="text" name="confirm_password" placeholder="Konfirmasi Password" required>
                                    </div>
                                </div> <!-- form input -->
                            </div>
                            <div class="col-md-12">
                                <div class="form-input light-rounded-buttons mt-30">
                                    <button type="submit" class="main-btn light-rounded-two">Submit</button>
                                </div> <!-- form input -->
                            </div>
                        </div> <!-- row -->
                    </form>
                </div> <!-- contact wrapper form -->
            </div>
        </div> <!-- row -->
    </div> <!-- container -->
</section>
{% endblock %}
{% block js %}
<script type="text/javascript">
    $("#mahasiswaRegister").addClass("active");
</script>
{% if alert %}
<script>
    
    alert("Registration Berhasil.")
    document.location = "/mahasiswa_login"
    
</script>
{% endif %}
{% endblock %}