{% extends 'admin_navbar.html' %}
{% load static %}
{% block title %} Tambah Buku {% endblock %}
{% block css %}
{% endblock %}
{% block body %}
<!--====== CONTACT PART START ======-->

<section id="contact" class="contact-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="contact-wrapper form-style-two pt-115">
                    <h4 class="contact-title pb-10"><i class="lni lni-add-files"></i> Tambah <span>Buku.</span></h4>
                    
                    <form id="" method="POST">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-input mt-25">
                                    <label>Judul Buku</label>
                                    <div class="input-items default">
                                        <input name="judul" type="text" placeholder="Judul Buku">
                                    </div>
                                </div> <!-- form input -->
                            </div>
                            <div class="col-md-6">
                                <div class="form-input mt-25">
                                    <label>Nama Pembuat</label>
                                    <div class="input-items default">
                                        <input type="text" name="author" placeholder="Nama Pembuat">
                                    </div>
                                </div> <!-- form input -->
                            </div>
                            <div class="col-md-6">
                                <div class="form-input mt-25">
                                    <label>Nomor Buku</label>
                                    <div class="input-items default">
                                        <input name="nomor_buku" type="text" placeholder="Nomor Buku">
                                    </div>
                                </div> <!-- form input -->
                            </div>
                            <div class="col-md-6">
                                <div class="form-input mt-25">
                                    <label>Kategori</label>
                                    <div class="input-items default">
                                        <input type="text" name="kategori" placeholder="Kategori Buku">
                                    </div>
                                </div> <!-- form input -->
                            </div>
                            <div class="col-md-12">
                                <div class="form-input light-rounded-buttons mt-30">
                                    <button type="submit" class="main-btn light-rounded-two">Submit</button>
                                </div> <!-- form input -->
                            </div>
                        </div> <!-- row -->
                    </form>
                </div> <!-- contact wrapper form -->
            </div>
        </div> <!-- row -->
    </div> <!-- container -->
</section>
{% endblock %}
{% block js %}
{% if alert %}
<script>
    
    alert("Buku Berhasil Ditambahkan.")
    document.location = "/list_buku"
    
</script>
{% endif %}
{% endblock %}