{% extends 'mahasiswa_navbar.html' %}
{% load static %}
{% block title %} Ubah Password {% endblock %}
{% block css %}
{% endblock %}

{% block body %}
<form class="container mt-3" method="POST" name="ubah_password" onsubmit="return cek_password()">
    {% csrf_token %}
    <div class="row mt-4">
        <div class="form-group col-md-6">
            <label><i style="font-weight: bold;">Username</i></label>
            <input type="text" class="form-control mt-2" name="username" value="{{request.user}}" readonly>
        </div>
        <div class="form-group col-md-6">
            <label><i style="font-weight: bold;">Password Saat Ini</i></label>
            <input type="password" class="form-control mt-2" name="current_password" placeholder="Masukkan Password Saat Ini">
        </div>
    </div>

    <div class="row mt-4">
        <div class="form-group col-md-12">
            <label><i style="font-weight: bold;">Password Baru</i></label>
            <input type="password" class="form-control mt-2" name="new_password" placeholder="Masukan Password Baru">
        </div>
    </div>

    <div class="row mt-4">
        <div class="form-group col-md-12">
            <label><i style="font-weight: bold;">Konfirmasi Password Baru</i></label>
            <input type="password" class="form-control mt-2" name="confirm_password" placeholder="Konfirmasi Password Baru">
        </div>
    </div>

    <input type="submit" class="btn btn-outline-primary mt-4" value="Ubah Password">
</form>
{% endblock %}

{% block js %}
<script>
    function cek_password() {
        if (document.ubah_password.new_password.value != document.ubah_password.confirm_password.value) {
            alert("Password baru dan Password lama tidak sama.");
            document.ubah_password.confirm_password.focus();
            return false;
        }
        return true;
    }

    {% if alert %}
    alert("Ubah Password Berhasil.");
    document.location = "/logout";
    {% endif %}

    {% if currpasswrong %}
    alert("Password Saat Ini Salah..");
    document.location = "/ubah_password";
    {% endif %}
</script>
{% endblock %}
